html, body {
  margin: 0;
  padding: 0; }

body {
  background: url("../bg.jpg");
  background-size: cover;
  overflow-x: hidden; }

ul {
  list-style: none; }

#nav {
  background-color: transparent;
  border: none;
  font-family: "Mate SC", sans-serif;
  font-size: 1.2em;
  height: 60px;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 50px; }
  #nav a {
    border: solid transparent 1px;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    transition: 0.5s; }
    #nav a:hover {
      background-color: rgba(100, 100, 100, 0.1);
      border: solid black 1px; }

header {
  animation-name: hack;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  height: 70%;
  overflow: hidden;
  position: relative; }
  header #headerbg {
    border: solid black 3px;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    transition: 0.5s;
    width: 100%; }
    header #headerbg canvas {
      animation-name: canvas-anim;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      filter: blur(5px) contrast(150%);
      transform: scale(2.05, 2); }
      @media screen and (min-width: 1200px) {
        header #headerbg canvas {
          transform: scale(2.05, 3); } }
      @media screen and (max-width: 768px) {
        header #headerbg canvas {
          transform: scale(2.05, 2.5); } }

@keyframes hack {
  from {
    background-color: white; }
  to {
    background-color: black; } }
@keyframes canvas-anim {
  from {
    filter: blur(5px) contrast(150%) hue-rotate(0DEG); }
  to {
    filter: blur(5px) contrast(150%) hue-rotate(45DEG); } }
.content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 17px;
  position: absolute;
  top: 0;
  width: 102%;
  z-index: 10; }

.title {
  text-align: center; }

h1 {
  color: rgba(255, 255, 255, 0.85);
  font-size: 6.5em;
  margin-bottom: 20px;
  margin-top: 120px; }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 4em;
      margin-top: 80px; } }
  @media screen and (min-width: 1400px) {
    h1 {
      margin-top: 200px; } }

h2 {
  color: rgba(255, 255, 255, 0.85);
  font-size: 3em; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 2.5em; } }

h5 {
  color: rgba(255, 255, 255, 0.85);
  font-family: "Mate SC";
  font-size: 1em;
  margin-bottom: 300px; }

h3 {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.85);
  font-size: 2em;
  letter-spacing: 3px;
  margin-bottom: 0;
  padding: 5px 10px 0 15px;
  font-weight: bold; }

h1, h2, h3 {
  display: inline-block;
  font-family: "Dorsa", sans-serif;
  position: relative;
  text-align: center; }

section {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 auto 150px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  transition: 0.5s;
  width: 100%; }
  section .container {
    width: 100%; }
  section .section-content {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.85);
    font-family: "Vesper Libre";
    font-size: 1em;
    padding: 25px; }

#section1 p {
  font-weight: bold; }

footer {
  font-family: "Mate SC";
  margin-top: 20px;
  position: relative;
  text-align: left;
  z-index: 10;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.3)); }
  footer form legend {
    padding: 5px;
    text-align: left; }
  footer form input {
    border: solid black 1px; }
  footer form textarea {
    border: solid black 1px;
    font-family: "arial";
    margin: 10px 0;
    text-align: left;
    width: 100%; }
  footer form input[type=submit] {
    float: right;
    background-color: black;
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.2em; }

/*# sourceMappingURL=main.css.map */
